*{margin:0;padding:0;font-family: "Microsoft Yahei", Arial, SimSun, "宋体"}
ul,ol{list-style:none;}
img,input{border:none;vertical-align:middle;}
a{text-decoration:none;}
.clear{clear:both;height:0;line-height:0;font-size:0;}
.w960{margin:0 auto;width:960px;font-size:14px;}
/*盒子模型从外到内*/
 /*以上是全局默认样式的清除*/
.header{width:100%;height:168px;}
.header .top{height:52px;padding:33px 0;background:#fff;}
.top a img{float:left;width:274px;height:52px;padding-right:16px;}
 /*margin 1.上下排列的时候 谁大取谁 2.浮动的元素 margin左右 的时候 i6会出现双边距的问题 3.父子关系的元素 出现margin-top传递问题*/
.top div{float:left;}
.top div h3{font-size:24px;color:#fa8100;line-height:34px;}
.top div p{font-size:14px;line-height:18px;color:#666;}
.top span{float:right;}
.top span img{padding:0 10px 4px 64px;background:url(../images/ewm.png) no-repeat;}
.nav{width:100%;background:#00659c;}
.nav ul{height:49px;text-align:center;}
.nav ul li{float:left;width:120px;margin-right:1px;}
.nav li a{font-size:14px;line-height:49px;color:#fff;}
.nav .list{width:100px;background:#004b8b;}
.nav ul span{float:left;width:1px;height:14px;background-color:#fff;margin-top:19px;}
/*竖线部分可以用伪类写 */
/*.nav ul{position:relative;}*/
/*.nav li:after{position:absolute;height:14px;width:0;right:0;margin-top:19px;background:#fff;content:""}*/
 /*以上是头部分*/
.banner{width:100%;height:480px;background:#cccccc;}
.banner .conBan{height:480px;background:url("../images/banner.gif") no-repeat;overflow:hidden;}
.banner .conBan ul{width:1005px;padding-top:297px;}
.banner .conBan ul li{float:left;padding:0 20px;width:251px;height:110px;margin-right:44px;background:rgba(255,255,255,.6)}
.banner .conBan ul li h4{padding:14px 0 10px;border-bottom:1px solid #e0e0e0;color:#888;text-align:center;font-size:24px;line-height:24px;}
.banner .conBan ul li p{border-top:1px solid #f8f8f8;padding:0 20px;font-size:12px;line-height:20px;color:#bababa;text-align:center;}
.banner .conBan ul li .on{background:rgba(0,101,159,.9)}
.banner .conBan ul li .on h5{}

.conList{width:100%;height:270px;background:#868686;}
.conList ul{width:996px;margin-left:-36px;}
.conList li{float:left;width:213px;height:253px;background:#ffffff;margin-left:36px;}
.conList li .img{width:213px;height:163px;background:url(../images/psd-1.png) no-repeat;}
.conList li .img1{background-position:}
.conList li h4{padding-top:26px;font-size:20px;line-height:20px;text-align:center;}
.conList li .text{text-align:center;}
.conlist
.conList .btnL .conlist{width:21px;height:42px;background:url(../images/xuebitu.png) no-repeat 0 -208px}