*{margin:0;padding:0}
.box{margin:20px auto;border:1px solid #333;border-radius:5px;width:400px;background-color:#00c0a5}
.box thead tr{height:30px;line-height:30px;font-size:16px;cursor:pointer;}
.box thead th{width:100px;}
.box tbody td{height:30px;text-align:center;}
.box tbody .even{background-color:#7cb132}
.box tbody .odd{background-color:#f0f0f0}