body,div,ul,li,ol,a,img,input,i,em,b,strong,span,p,h1,h2,h3,h4,h5,h6{
    margin: 0;
    padding: 0;
    font-family: Arial,Verdana,"\5b8b\4f53","microsoft yahei";
    color:#666;
}
ul,li{
    list-style:none;
}
img,input{
    outline:none;
    border:none;
}
a{
    text-decoration: none;
    font-size:12px;
}
a:hover{
    color:#c81623;
}
.w1210{
    margin:0 auto;
    width:1210px;
}
.clear{
    clear: both;
    content: '';
    height:0;
    line-height:0;
    font-size:0;
}
/*以上是全局默认样式的清除*/
.shortcut{
    width:100%;
    height:30px;
    font-size: 12px;
    line-height:30px;
    background-color:#f1f1f1;
}
.shortcut .psCity{
    position: relative;
    float:left;
    border:1px solid transparent;
    border-top:none;
    width:98px;
    height:29px;
}
.shortcut .psCity .ps{
    float:left;
    padding-left:10px;
}
.shortcut .psCity .city{
    padding-left:5px;
}
.shortcut .arrows{
    float:left;
    position: relative;
    width:8px;
    height:30px;
    padding-left:10px;
}
.shortcut .arrows b{
    position: absolute;
    top:-2px;
}
.shortcut .arrows i{
    position: absolute;
    width:12px;
    height:8px;
    top:5px;
    background-color:#f1f1f1;
    z-index:1;
}
.mask{
    position:absolute;
    z-index:2;
    width:100%;
    height:2px;
    background-color:#fff;
    border-bottom:1px solid #fff;
    top:29px;
    display: none;
}
.shortcut .psCity:hover,.shortcut .two:hover,.shortcut .four:hover,.shortcut .five:hover,.shortcut .six:hover,.shortcut .seven:hover{
    background-color: #fff;
    border-left:1px solid #ddd;
    border-right:1px solid #ddd;
}
.shortcut .psCity:hover .mask,.shortcut .two:hover .mask,.shortcut .four:hover .mask,.shortcut .five:hover .mask,.shortcut .six:hover .mask,.shortcut .seven:hover .mask{
    display: block;
    left:0;
}
.shortcut .psCity:hover b,.shortcut .two:hover b,.shortcut .three:hover b,.shortcut .four:hover b,.shortcut .five:hover b,.shortcut .six:hover b,.shortcut .seven:hover b{
    top: 2px;
}
.shortcut .psCity:hover i,.shortcut .two:hover i,.shortcut .three:hover i,.shortcut .four:hover i,.shortcut .five:hover i,.shortcut .six:hover i,.shortcut .seven:hover i{
    top:17px;
    background-color: #fff;
}
.shortcut .psCity ul{
    position:absolute;
    border:1px solid #ddd;
    padding:0 0 10px 10px;
    left:-1px;
    top:30px;
    width:300px;
    background-color:#fff;
    overflow: hidden;
    display: none;
}
.shortcut .psCity:hover ul,.shortcut .two:hover .twoH,.shortcut .four:hover .fourH,.shortcut .five:hover .fiveH,.shortcut .six:hover .sixH,.shortcut .seven:hover .sevenH,.store:hover .storeH{
    display: block;
    z-index: 1;
}
.shortcut .psCity ul li{
    float:left;
    padding:5px 0;
    width:60px;
    height:22px;
}
.shortcut .psCity ul li a{
    padding:5px 8px;
}
.shortcut .psCity ul li a:hover{
    background-color: rgba(204,204,204,.3);
}
.shortcut .psCity ul li a.bg{
    color:#fff;
    background-color: #c81623;
}
/*以上是快捷键行左侧*/
.shortcut .shortcutR{
    float:right;
}
.shortcut .shortcutR li{
    float:left;
    padding:0 8px;
    position: relative;
    border:1px solid transparent;
    border-top:none;
}
.shortcut .shortcutR .spacer{
    padding:0;
    border:none;
    color:rgba(204,204,204,.7)
}
.shortcut .shortcutR a{
    float:left;
}
.shortcut .shortcutR .one .zc{
    color:#c81623;
}
.shortcut .two .twoH,.shortcut .four .fourH,.shortcut .five .fiveH,.shortcut .six .sixH{
    position:absolute;
    border:1px solid #ddd;
    left:-1px;
    top:30px;
    background-color:#fff;
    display: none;
}
.shortcut .two .twoH{
    width:263px;
    overflow: hidden;
}
.shortcut .two .twoH .favicon{
    float:left;
    margin-left:15px;
    margin-top:10px;
    width:62px;
    height:62px;
    border-radius:50%;
    background:url(img/touxiang.jpg) center center no-repeat;
}
.shortcut .twoH .faviconR{
    padding-top:12px;
}
.shortcut .twoH .faviconR p{
    padding-left:90px;
    height:30px;
}
.shortcut .twoH .faviconR .hello{
    font-weight:700;
}
.shortcut .twoH .faviconR span{
    float:left;
    margin:0 8px;
}
.shortcut .twoH ul{
    padding-top:15px;
    width:100%;
    overflow: hidden;
}
.shortcut .twoH ul li{
    width:110px;
    line-height:24px;
}
.shortcut .shortcutR .four p{
    display: inline-block;
    float:left;
    width:18px;
    height:29px;
    background:url(img/short.png) 0 5px no-repeat;
}
.shortcut .four:hover p{
    background-position: 0 -20px;
}
.shortcut .four .fourH{
    width:250px;
    height:194px;
    background: url(img/ewm.png) center center no-repeat;
}
.shortcut .four .fourH a{
    display: block;
    position: absolute;
    color:#c81623;
    left:98px;
}
.shortcut .four .fourH .yh{
    top:20px;
}
.shortcut .four .fourH .qb{
    top:118px;
}
.shortcut .five .fiveH,.shortcut .five .fiveH img{
    width:82px;
    height:104px;
}
.shortcut .sixH{
    width:160px;
    line-height:24px;
    display: none;
}
.shortcut .sixH h4{
    padding-left:10px;
}
.shortcut .sixH  ul{
    overflow:hidden;
}
.shortcut .sixH  ul li{
    width:60px;
}
.shortcut .sixH .tenant{
    border-top:1px dashed #ddd;
    padding:5px 0;
}
.shortcut .seven .sevenH{
    position:absolute;
    border:1px solid #ddd;
    right:-1px;
    top:30px;
    background-color:#fff;
    display: none;
}
.shortcut .seven .sevenH div{
    display: inline-block;
    margin:15px 0 15px 10px;
    border-right:1px solid #ddd;
    width:289px;
}
.shortcut .seven .sevenH div ul li{
    width:86px;
    padding-left:0;
}
.shortcut .seven .sevenH .more{
    border:none;
}
/*以上是快捷键右侧*/
.banner1{
    width:100%;
    height:120px;
    background-color:#a42cff;
}
.banner1 a,.banner1 img{
    display: block;
    width:100%;
    height:119px;
}
.banner1 span{
    position: absolute;
    top:5px;
    right:5px;
    width:19px;
    height:19px;
    background: url(img/XX.png) no-repeat 0 0;
    cursor: pointer;
}
.banner1 span:hover{
    background-position: 0 -19px;
}
/*以上是banner1部分*/
.logo-2016{
    float:left;
    width:362px;
    height:60px;
    padding:20px 0;
}
.logo-2016 a{
    display: block;
    width:270px;
    height:60px;
    background: url(img/logo.png) no-repeat;
}
.search-2016{
    float:left;
    width:538px;
    height:40px;
    padding-top:25px;
}
.search-2016 form input[type=text]{
    float:left;
    width:444px;
    height:24px;
    padding:4px;
    font-size:14px;
    border:2px solid #c81623;
}
.search-2016 form input[type=button]{
    float: left;
    width:82px;
    height:36px;
    background: #c81623;
    font-size:16px;
    color:#fff;
    cursor:pointer;
}
.store{
    position: relative;
    float:right;
    border:1px solid #ddd;
    margin:25px 65px 0 0;
    font-size:12px;
    width:142px;
    height:34px;
    background-color:#f9f9f9;
}
.store a{
    display: inline-block;
    padding:0 28px 0 36px;
    width:78px;
    line-height:34px;
    text-align: center;
}
.store .storeL{
    position: absolute;
    left:18px;
    top:9px;
    width:18px;
    height:16px;
    background:url(img/short.png) 0 -58px no-repeat;
}
.store .storeR{
    position: absolute;
    width:7px;
    top:9px;
    right:10px;
}
.store .storeT{
    position: absolute;
    border-radius: 7px 7px 7px 0;
    background: #c81623;
    top:-4px;
    right:23px;
    width:14px;
    line-height:14px;
    text-align: center;
    font-style: normal;
    color:#fff;
}
.store .storeH{
    position: absolute;
    right:-1px;
    top:35px;
    border:1px solid #ddd;
    box-shadow:0 0 1px 1px #f1f1f1;
    padding-left:30px;
    width:278px;
    height:70px;
    background-color: #fff;
    display: none;
}
.store .storeH span{
    float:left;
    width:56px;
    height:49px;
    margin-top:10px;
    background: url(img/storeH.png);
}
.store .storeH i{
    font-style:normal;
    line-height:70px;
    color:#999;
}
.store:hover{
    box-shadow:0 0 1px 1px #f1f1f1;
    background-color:#fff;
    border-bottom: none;
}
.store:hover .mask{
    top:33px;
    display: block;
}
.navTop ul{
    float:left;
}
.navTop li{
    float:left;
    margin-right:10px;
    line-height:20px;
}
.navTop ul .frist{
    color:#c81623;
}
/*以上是logo和搜索行*/
.nav{
    height:44px;
    min-width:1210px;
    border-bottom:2px solid #B1191A;
}
.nav h4{
    float:left;
    padding:0 10px;
    width:190px;
    height:44px;
    color:#fff;
    font:400 15px/44px "microsoft yahei";
    background-color: #B1191A;
}
.nav ul{
    float:left;
    overflow: hidden;
}
.nav ul li{
    float:left;
}
.nav ul li a{
    display: block;
    padding:0 20px;
    height:44px;
    line-height:44px;
    font-size:16px;
    text-align:center;
}
.nav ul .xin{
    position: relative;
}
.nav ul .xin i{
    position: absolute;
    top:-1px;
    right:-2px;
    display: block;
    width:22px;
    height:20px;
    background:url(img/xin.jpg) no-repeat 0 0;
}
.nav .promotion{
    float:right;
}
.nav .promotion a{
    display: block;
    width:175px;
    height:40px;
    background: url(img/618.jpg) no-repeat 0 0;
}
/*以上是主导航栏*/
.mainConT{
    width:100%;
    height:613px;
    background: url(img/background.jpg) no-repeat center center;
}
.mainConT .menus{
    position: relative;
    float:left;
    background-color: #c81623;
    border-left:1px solid #b61d1d;
    border-bottom:1px solid #b61d1d;
}
.mainConT .menus i{
    color:#fff;
    font:400 9px/24px consolas;
}
.mainConT .menus h3{
    position: relative;
    padding:0 10px;
    width:189px;
}
.mainConT .menus h3 a{
    font:300 14px/31px "microsoft yahei";
    float:left;
    color:#fff;
}
.mainConT .menus h3 i{
    float:right;
    line-height:31px;
}
.mainConT .menus .list b{
    position: absolute;
    width:1px;
    height:100%;
    top:0;
    right:0;
    background:#f7f7f7;
    z-index:1;
}
.mainConT .menusH{
    position: absolute;
    top:-1px;
    left:208px;
    border:1px solid #b61d1d;
    padding:20px;
    width:958px;
    background-color: #f7f7f7;
    display: none;
    min-height:425px;
}
.mainConT .drop{
    float:left;
    width:710px;
}
.mainConT .drop ol li{
    float:left;
    margin-right:10px;
}
.mainConT .drop ol a,.drop ol i{
    float:left;
    line-height:24px;
    color:#fff;
}
.mainConT .drop ol a{
    padding:0 10px;
    background-color:#7c7c7c;
}
.drop ol i{
    width:23px;
    text-align: center;
    background-color: #5c5251;
}
.mainConT .menus h3,.mainConT .drop ol,.drop .item ul{
    overflow: hidden;
}
.drop .item h4{
    float:left;
    margin:8px 5px 0 0;
    width:80px;
}
.drop .item h4 i{
    float:right;
    padding:0 6px;
    color:#848484;
}
.drop .item h4 a{
    float:right;
    line-height:24px;
    color:#7d7d7d;
}
.drop .item ul{
    margin-top:8px;
    border-top:1px solid #eee;
}
.drop .item .itemF{
    border: none;
}
.drop .item li{
    float:left;
}
.drop .item li a{
    display: block;
    margin-top:10px;
    border-left:1px solid #e0e0e0;
    padding:0 10px;
    color:#666;
}
.drop .item a:hover{
    color:#c81622;
}
.drop .item h4:hover i{
  color:#c81622;
}
.menusH .brand{
    float:right;
    width:168px;
}
.menusH .brand a{
    float:left;
    width:83px;
    height:35px;
    margin:1px 0 0 1px;
}
.menusH .brand .brandB{
    margin-top:10px;
}
.menusH .brand .brandB,.menusH .brand .brandB img{
    width:168px;
    height:130px;
}
.menus li .list{
    background-color:#f7f7f7;
}
.mainConT .menus .list a{
    color:#c81623;
}
.menusH .drop .dropF a{
    background-color:#c81623;
}
.drop .dropF i{
    background-color: #b1191a;
}